<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.svg" type="image/svg+xml">
    <title>Perguntas - Rocket.Q</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/room.css">
    <link rel="stylesheet" href="/styles/room-modal.css">

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&display=swap"
        rel="stylesheet">

    <!-- SCRIPT -->
    <script src="/scripts/main.js" defer type="module"></script>

</head>

<body>


    <div class="content" id="room">

        <header>
            <a href="/"><img src="/images/logo.svg" alt="rocket.Q logo"></a>

            <div class="header-buttons">
                <a href="create-room.html">
                    <div class="button">
                        <img src="/images/white-users-icon.svg" alt="Criar uma sala">Criar sala
                    </div>
                </a>
                <button class="button outlined" id="room-id" data-id="323243">
                    #323243
                    <img src="/images/copy-icon.svg" alt="Copiar número da sala">
                </button>
            </div>
        </header>

        <main>

            <div class="question-area">
                <h2>Faça uma pergunta</h2>
                <form id="questions-form" action="">
                    <label class="sr-only" for-id="question-textarea">O que você quer perguntar?</label>
                    <textarea name="question-box" id="question-textarea" cols="30" rows="10"
                        placeholder="O que você quer perguntar?"></textarea>

                    <div class="question-footer">
                        <div class="left-side">
                            <img src="/images/lock-icon.svg">
                            <p>Esta pergunta é anônima</p>
                        </div>
                        <button>Enviar</button>
                    </div>
                </form>
            </div>

            <section id="questions-list">

                <h2 class="sr-only">Perguntas da comunidade</h2>

                <div class="question-wrapper">

                    <div class="question-content">
                        <div class="user">
                            <img src="/images/avatar-icon.svg" alt="Avatar logo">
                        </div>
                        <div class="question">
                            <p>Qual a diferença entre const, let e var em JavaScript?
                        </div>
                    </div>

                    <div class="actions">
                        <a href="#" class="mark-as-read" data-id="3">
                            <img src="/images/blue-check-icon.svg" alt="marcar como lida">
                            <p>Marcar como lida</p>
                        </a>
                        <a href="#" class="delete" data-id="3">
                            <img src="/images/trash-icon.svg" alt="Excluir">
                            <p>Excluir</p>
                        </a>
                    </div>

                </div>

                <div class="question-wrapper read">

                    <div class="question-content">
                        <div class="user">
                            <img src="/images/avatar-icon.svg" alt="Avatar logo">
                        </div>
                        <div class="question">
                            <p>O que é JavaScript?
                        </div>
                    </div>

                    <div class="actions">
                        <a href="#" class="delete" data-id="2">
                            <img src="/images/trash-icon.svg" alt="Excluir">
                            <p>Excluir</p1 </a>
                    </div>

                </div>

                <div class="question-wrapper">

                    <div class="question-content">
                        <div class="user">
                            <img src="/images/avatar-icon.svg" alt="Avatar logo">
                        </div>
                        <div class="question">
                            <p>O que é typeScript?
                        </div>
                    </div>

                    <div class="actions">
                        <a href="#" class="mark-as-read" data-id="1">
                            <img src="/images/blue-check-icon.svg" alt="marcar como lida">
                            <p>Marcar como lida</p>
                        </a>
                        <a href="#" class="delete" data-id="1">
                            <img src="/images/trash-icon.svg" alt="Excluir">
                            <p>Excluir</p>
                        </a>
                    </div>

                </div>
            </section>
        </main>

    </div>

    <!-- -------MODAL------ -->
    <div class="modal-wrapper">

        <div class="modal">
            <h2>Excluir pergunta</h2>
            <p>Tem certeza que você deseja excluir esta pergunta?</p>

            <form action="#" method="POST">
                <label class="sr-only" for-id="password">Digite sua senha</label>
                <input type="password" id="password" name="password" placeholder="Digite sua senha">

                <div class="modal-buttons">
                    <div class="button" id="cancelButton">Cancelar</div>

                    <button id="yesButton">Sim, excluir</button>
                </div>
            </form>
        </div>

    </div>

</body>

</html>